body {
    background-color: powderblue;
    border:2px solid darkslategray; 
    padding: 30px;
    }
    h1 {
      color: rgb(0, 0, 0);
      text-align:center
    }
    
    p {
    color: rgb(0, 0, 0);
    text-align:center;
    }
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#333;
}
nav li {
  float: left;
}
nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
position: absolute;
bottom: 8px;
right: 16px;
}

/* Centered text */
.lws2 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  text-shadow: 1px 1px 2px black;
}
.lws1 {
  position: absolute;
  top:55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  text-shadow: 1px 1px 2px black;
}
  .personals {
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    text-shadow: 1px 1px 2px black;
}
h2 {
  color: rgb(0, 0, 0);
  text-align:left
}