body {
    background-color: powderblue;
    border:2px solid darkslategray; 
    padding: 30px;
    }
    h1 {
      color: rgb(0, 0, 0);
      text-align:center
    }
    
    p {
    color: rgb(0, 0, 0);
    text-align:center;
    margin: 0 0 10px 0;
    }
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#333;
}
nav li {
  float: left;
}
nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

.lws2 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  text-shadow: 1px 1px 2px black;
}
.lws1 {
  position: absolute;
  top:5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  text-shadow: 1px 1px 2px black;
}
  .personals {
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    text-shadow: 1px 1px 2px black;
}
h2 {
  color: rgb(0, 0, 0);
  text-align:center
}
h3 {
  color: rgb(0, 0, 0);
  text-align:center
}