body {
    background-color: powderblue;
    border:2px solid darkslategray; 
    padding: 30px;
    }
    h1 {
      color: rgb(0, 0, 0);
      text-align:center
    }
    p {
    color: rgb(0, 0, 0);
    text-align:center;
    }
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#333;
}
nav li {
  float: left;
}
nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}